PORT=4000
JWT_SECRET="gVMz7qfcG0BfhXo/iBNkq3oq/buIcOx1s/eGEynyq3e3SFZqn58X8yvlZhubyoOE"
VITE_API_URL=/api
DATABASE_URL="postgresql://neondb_owner:npg_59vpxHbWKLhc@ep-broad-hill-b4ec91nd-pooler.c-6.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
